<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration> 
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <connectionStrings>
    <add name ="AlbumContext"
         connectionString="database=WebApiSamples; server=.; integrated security=true"
         providerName="System.Data.SqlClient"
         />
    <add name="_StockContext"
         connectionString="Data Source=|DataDirectory|\WebApiSamples.sdf"
         providerName="System.Data.SqlServerCe.4.0" /> 
    <add name="StockContext"
         connectionString="database=WebApiSamples; server=.; integrated security=true"
         providerName="System.Data.SqlClient"
         />
    <add name="DevSamples" 
          connectionString="database=DevSamples; server=.; integrated security=true"/>
  </connectionStrings>  
  <system.web>
    <compilation debug="false" targetFramework="4.0" />  
    <httpRuntime requestPathInvalidCharacters="" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <appSettings>
    <add key="RouteDebugger:Enabled" value="true" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=(localdb)\v11.0; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>