<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections></configSections>
  <connectionStrings></connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime requestPathInvalidCharacters="" />
    <authentication mode="Forms"> 
      <!-- Optional Forms Authentication setup for Admin directory -->
      <forms loginUrl="/login" timeout="20">
        <credentials passwordFormat="Clear">
          <user name="ricks"   
                password="sekrit"   /> 
        </credentials> 
      </forms>
    </authentication> 
  </system.web>
  <system.webServer> 
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <appSettings />
  <system.net>
    <!--<defaultProxy enabled="true">
      <proxy
         autoDetect="false"     
         proxyaddress="http://127.0.0.1:8888"
        usesystemdefault="True"
        bypassonlocal="False" />
    </defaultProxy>-->
  </system.net>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>